.information-cards-section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    @include respond(desktop) {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &__header{
        font-size: 2.5rem;
        text-align: center;
        padding: 3rem 0;

        @include respond(phone){
            font-size: 3rem;
            padding: 4rem 0;
        }
    }
}

//Grid Container
.information-cards-section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); 
    grid-gap: 3rem;
    padding: 0 2rem;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    @include respond(tab-port) {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    }

    @include respond(desktop) {
        width: 100%;
    }
}


//Grid Cards
.information-cards-section__container-cards{
    border: 3px solid $color-grey-light-2;
    width: 100%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    text-align: center;

    &:hover{
        transform: translateY(-2px);
        box-shadow: $box-shadow-main;
        border: 3px solid $color-primary;
    }

    &--container{
        padding: 2rem;

        @include respond(desktop) {
            padding: 4rem;
        }

        & img{
            width: 6rem;
            height: 6rem;

            @include respond(tab-port){
                width: 7rem;
                height: 7rem;
            }
        }
    
        & h3{
            font-size: 2rem;
            color: $color-primary;
            padding: 1rem 0px;
        }
    
        & p{
            font-size: 1.5rem;

            @include respond(desktop){
                font-size: 1.75rem;
            }
        }
    }
}

