.apple-icon-button{
    width: 14rem;
    height: 14rem;
    transition: all .3s ease-in-out;

    @include respond(desktop){
        width: 16rem;
        height: 16rem;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.1)
    }
}