.logo-section{
    display: flex;
    align-items: center;

    & img{
        width: 5rem;
        height: 5rem;

        @include respond(desktop) {
            width: 6rem;
            height: 6rem;
        }
    }

    & h1{
        font-size: 1.75rem;
        color: $color-white;
        font-family: 'Roboto', sans-serif;
        padding-left: 3px;

        @include respond(desktop) {
            font-size: 2rem;
        }
    }
}