//Color Variables
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #f2f3f4;
$color-black: black;

$color-blue: #39A9DB;
$color-red: #ed2939;

$color-primary: #5856D6;
$color-primary-light: #bcbbee;
$color-primary-dark: #2c2b6b;

//FONT SIZES
$default-font-size: 1.6rem;

//Box Shdaow 
$box-shadow-main: 0 1.5rem 4rem rgba($color-black, .15);

//Border Radius 
$border-radius-default: 3px;



